# =========== ANGULAR BUILD OUTPUTS ===========
dist/
dist-frontend/
.aot/
.angular/
out-tsc/

# =========== CACHE ===========
.cache/

# =========== DEPENDENCIAS ===========
node_modules/

# =========== LOGS ===========
npm-debug.log
yarn-error.log

# =========== IDE/EDITOR ===========
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# =========== TESTING ===========
coverage/
.nyc_output

# =========== MISCELÁNEOS ===========
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings

# =========== ENVIRONMENT ===========
*.env

# =========== SYSTEM ===========
.DS_Store
Thumbs.db